<div class="card flex justify-content-center">
  <p-card
    header="{{ user.firstName }} {{ user.lastName }}"
    subheader="{{ user.phoneNumber }}"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img class="image" alt="Card" src="assets/images/1.jpg" />
    </ng-template>
    <p class="profile-description">
      Google Developer Expert in Angular
      <br />
      <br />
      Nest.js Core Team Member
    </p>
    <ng-template pTemplate="footer">
      <p-button
        (click)="profileEditor()"
        [style]="{ width: '100%' }"
        label="Редактировать профиль"
      ></p-button>
    </ng-template>
  </p-card>
</div>

<p-button (click)="signInPage()" label="Выйти"></p-button>
